<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<% if(error.length>0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
    <% } %>

    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

<body class="font-['helvetica_now_display'] bg-pink-100">

    <nav class="flex bg-pink-300 h-16 justify-between px-20 items-center">
        <div class="text-3xl text-purple-900 font-bold hover:text-pink-900">Melano</div>
        <div class="space-x-3 text-xl text-red-700">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Connect us</a>
            <a class="bg-purple-700 px-4 py-1 rounded-md mt-5 hover:bg-pink-900 text-rose-200 text-lg href=" #">Buy</a>
        </div>
    </nav>

    <header class="flex justify-between items-center ">
        <div class="w-1/2 p-16 animate__animated animate__tada animate__delay-0.5s">
            <h1 class="text-3xl pb-12">Welcome To <span class="text-purple-700 font-bold hover:text-pink-900">MELANO</span> Bag Store</h1>

            <p class="text-xl mb-4 text-red-700">At MELANO, we believe that a bag is more than just an accessory; it's
                a statement.
                Nestled in the heart
                of contemporary fashion, MELANO offers a curated collection of bags that blend elegance with
                practicality, catering to the diverse lifestyles of our customers.</p>
            <div class="space-x-2 my-8"> 
                <a class=" bg-purple-700 px-5 py-2 rounded-md mt-5 hover:bg-pink-900 text-rose-200 text-lg" href="/login">Login</a>
                <a class="bg-purple-700 px-5 py-2 rounded-md mt-5 hover:bg-pink-900 text-lg text-rose-200" href="/login">Sign
                    Up</a>
            </div>
        </div>
        <div class="w-1/2 pt-10 pl-4 animate__animated animate__fadeIn animate__delay-0.5s"><img src="/images/final_dp.jpg" alt="here"></div>
    </header>

    </nav>
</body>

</html>